.__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 182, 182);
    width: 400px;
    height: 400px;
    border-radius: 12px;
}
.file{
    margin: 10px;
}
.title_name{
    margin: 10px;
}
.category_name{
    margin: 10px;
}