.__main{
    width: 100%;
    box-sizing: border-box;
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    justify-content: center;
    padding: 23px;
}
.my-masonry-grid_column > img{
    width: 410px;
    margin-bottom: 40px;
}
.my-masonry-grid_column {
    background-clip: padding-box;
    width: 410px;
    padding: 20px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 754741bc987988be18b28f72ec2b46af4e9e6d98
