@media only screen and (max-width: 410px) {
    .App{
        width: 100%;
    }
    .navbar{
        width: 100% !important;
    }
    .search{
        width: 100px !important;
    }
    .search > input{
        width: 80px !important;
        justify-content: center;
    }
    .padding__child {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .brand__info{
        width: 100% !important;
    }
    .left__side {
        display: flex;
        width: 100% !important;
        height: fit-content !important;
        font-size: 18px !important;
        
    }
    .left__side > p{
        font-size: 13px !important;
    }
    .right__side{
        width: 100% !important;
    }
    .my-masonry-grid {
        display: flex;
        flex-direction: column;
        background-clip: padding-box;
    }
    .my-masonry-grid_column {
        width: 345px !important;
        margin-bottom: 40px;
        padding: 12px !important;
    }
    .my-masonry-grid_column > img {
        width: 345px !important;  
    }
    
  }
