@media only screen and (max-width: 380px) {
    .App{
        width: 100%;
    }
    .navbar{
        width: 100% !important;
    }
    .search{
        width: 100px !important;
    }
    .search > input{
        width: 80px !important;
        justify-content: center;
    }
    .padding{
       display: flex;
      flex-direction: column; 
    }
    .padding__child {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .brand__info{
        width: 100% !important;
    }
    .left__side {
        display: flex;
        width: 100% !important;
        height: fit-content !important;
        font-size: 18px !important;
        
    }
    .left__side > p{
        font-size: 13px !important;
    }
    .right__side{
        width: 100% !important;
    }
    .my-masonry-grid{
        display: flex;
        flex-direction: column;
        width: 300px !important;
    }
    .__main{
        width: 100% !important;
        padding: 10px;
    }
    .my-masonry-grid > img{
        width: 100% !important;
        margin: 0;
        display: grid;
        grid-template-columns: minmax(0,1fr);
        padding-bottom: 23px;
    }
    .my-masonry-grid_column {
    background-clip: padding-box;
    padding: 8px;
    width: 327px!important;
}
  }
